@font-face {
    font-family: 'Geologica';
    src: url('/assets/fonts/Geologica-Light.ttf') format('ttf'),
    url('/assets/fonts/Geologica-Medium.ttf') format('ttf'),
    url('/assets/fonts/Geologica-Regular.ttf') format('ttf'),
    url('/assets/fonts/Geologica-Bold.ttf') format('ttf'),
}

@font-face {
    font-family: 'Wadik';
    src: url('/assets/fonts/Wadik.otf') format('truetype'),
         url('/assets/fonts/Wadik.woff') format('woff');
}
@font-face {
    font-family: 'Bicubik';
    src: url('/assets/fonts/Bicubik.otf') format('opentype'),
        url('/assets/fonts/Bicubik.woff') format('woff'),
        url('/assets/fonts/Bicubik.ttf') format('ttf');
}
